In [33]:
#Importing libraries

import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
#import Random forest classifiers
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import seaborn as sns

In [2]:
!pip install pillow

Requirement already satisfied: pillow in /home/martina/anaconda3/envs/ml/lib/python3.10/site-packages (10.2.0)

In [27]:
#Using PILLOW to convert images to array
from PIL import Image, ImageOps
from numpy import asarray
 
filepath="Galaxy_data/images_training_rev1/100859.jpg" 
# load the image and convert into numpy array
img = Image.open(filepath)

#img.show()

img_gray = ImageOps.grayscale(img)

img_gray.show() 
numpydata = asarray(img_gray)

array([19, 31, 31, 16,  4,  4,  7,  6,  4,  5,  7,  9, 10,  8,  7,  5, 10,
       18, 20, 12,  4,  2,  4,  4,  5,  7,  9,  9,  7,  5,  3,  2,  3,  3,
        5,  9, 12, 13, 11,  8,  6,  6,  6,  4,  3,  2,  3,  3,  2,  3,  9,
       16, 18, 15,  8,  3,  6,  5,  4,  4,  5,  5,  2,  1,  2,  2,  2,  2,
        2,  1,  1,  1,  2,  3,  6,  8,  8,  7,  4,  2,  2,  2,  1,  1,  1,
        1,  3,  6,  4,  5,  6,  6,  7,  7,  6,  6,  6,  5,  3,  3,  3,  3,
        5,  5,  6,  7,  8,  8,  7,  5,  2,  1,  5,  3,  2,  2,  4,  5,  5,
        4,  2,  2,  2,  3,  4,  5,  6,  7,  9,  8,  6,  3,  2,  2,  3,  5,
        0,  0,  2,  2,  2,  5, 12, 17, 23, 16,  8,  3,  2,  2,  1,  0,  0,
        2,  6, 10, 12, 11,  9,  8,  1,  3,  6,  7,  6,  3,  0,  0,  0,  0,
        1,  2,  3,  3,  3,  3,  2,  2,  2,  3,  3,  4,  4,  4,  3,  5,  7,
        8,  9,  9,  8,  8,  6,  3,  0,  0,  0,  2,  3,  3,  1,  2,  4,  6,
        7,  7,  6,  6,  1,  2,  3,  3,  1,  1,  2,  3,  4,  3,  2,  3,  6,
        8,  9,  8,  9,  7,  5,  4,  2,  3,  5,  6,  5,  5,  6,  6,  6,  5,
        5,  4,  3,  6,  5,  1,  1,  2,  4,  3,  4,  2,  1,  2,  3,  4,  2,
        1,  4,  3,  2,  0,  0,  1,  2,  3,  3,  2,  1,  1,  3,  3,  2,  1,
        3,  2,  1,  0,  1,  2,  3,  5,  6,  5,  5,  7,  9, 10,  9,  7,  2,
        2,  0,  0,  0,  0,  2,  2,  1,  2,  3,  4,  4,  4,  4,  3,  3,  3,
        5, 10, 15, 14, 10,  5,  2,  5,  7,  5,  2,  1,  2,  5,  8,  6,  3,
        1,  1,  2,  5,  6,  9,  8,  7,  6,  4,  3,  2,  1,  3,  3,  4,  2,
        0,  0,  1,  3,  1,  2,  4,  6,  7,  7,  6,  6, 12, 13, 13, 11,  7,
        4,  3,  3,  2,  1,  0,  0,  1,  2,  4,  6, 17, 17, 17, 16, 14, 11,
        8,  6, 10, 12, 14, 13, 10,  6,  4,  3,  4,  4,  2,  1,  1,  1,  1,
        1,  0,  1,  3,  5,  6,  6,  6,  5,  7,  8, 11, 12, 12, 11,  8,  7,
        2,  2,  2,  2,  2,  3,  4,  5, 10, 10, 10,  7,  5,  3,  4,  6],
      dtype=uint8)

In [1]:
import pandas as pd

/tmp/ipykernel_53628/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
labels = pd.read_csv("Galaxy_data/training_solutions_rev1.csv")
labels.shape

(61578, 38)

In [3]:
pd.set_option('display.max_columns',None)
labels=labels.drop(labels[labels['Class1.3'] > 0.5].index)

In [4]:
labels = labels[['GalaxyID', 'Class1.1', 'Class1.2', 'Class6.1']]
labels['Result'] = 'i'
labels.loc[labels['Class1.1'] > 0.6, 'Result'] = 'e'
labels.loc[labels['Class1.2'] > 0.6, 'Result'] = 's'
labels.loc[labels['Class6.1'] > 0.6, 'Result'] = 'o'

In [5]:
labels.head()

   GalaxyID  Class1.1  Class1.2  Class6.1 Result
0    100008  0.383147  0.616853  0.054453      s
1    100023  0.327001  0.663777  0.189149      s
2    100053  0.765717  0.177352  0.000000      e
3    100078  0.693377  0.238564  0.320398      e
4    100090  0.933839  0.000000  0.029383      e

In [6]:
# Filter rows where 'Result' is 'o'
result_o = labels[labels['Result'] == 'i']

# Display the resulting DataFrame
print(result_o)

       GalaxyID  Class1.1  Class1.2  Class6.1 Result
10       100150  0.429378  0.524901  0.037499      i
12       100187  0.448521  0.551479  0.252285      i
13       100204  0.467625  0.531480  0.084531      i
21       100367  0.471429  0.512708  0.430580      i
36       100541  0.445052  0.533256  0.229921      i
...         ...       ...       ...       ...    ...
61562    999753  0.458539  0.541461  0.177392      i
61567    999873  0.531642  0.431270  0.382783      i
61571    999900  0.460239  0.511396  0.273592      i
61572    999936  0.545443  0.454557  0.028557      i
61573    999948  0.510379  0.489621  0.245734      i

[11778 rows x 5 columns]

In [7]:
labels=labels.drop(labels[labels['Result'] == 'i'].index)
print(labels)

       GalaxyID  Class1.1  Class1.2  Class6.1 Result
0        100008  0.383147  0.616853  0.054453      s
1        100023  0.327001  0.663777  0.189149      s
2        100053  0.765717  0.177352  0.000000      e
3        100078  0.693377  0.238564  0.320398      e
4        100090  0.933839  0.000000  0.029383      e
...         ...       ...       ...       ...    ...
61570    999893  0.410999  0.519560  0.801448      o
61574    999950  0.901216  0.098784  0.127644      e
61575    999958  0.202841  0.777376  0.839186      o
61576    999964  0.091000  0.909000  0.864000      o
61577    999967  0.767000  0.140000  0.333000      e

[49756 rows x 5 columns]

In [8]:
galaxy_ids = labels['GalaxyID'].to_numpy()

# Display the array of GalaxyID
print(galaxy_ids)

[100008 100023 100053 ... 999958 999964 999967]

In [35]:
import os
from PIL import Image, ImageOps
from numpy import asarray
image_folder_path = "Galaxy_data/images_training_rev1/"

data_list = []

for galaxy_id in galaxy_ids[:10]:
    image_path = os.path.join(image_folder_path, f"{galaxy_id}.jpg")

    img = Image.open(image_path)
    img_gray = ImageOps.grayscale(img)
    numpydata = asarray(img_gray).flatten()  
    row_data = labels[labels['GalaxyID'] == galaxy_id].iloc[0]

    row = [galaxy_id, row_data['Result']] + list(numpydata)
    
    data_list.append(row)

columns = ['GalaxyID', 'Result'] + [f'Pixel_{i}' for i in range(len(numpydata))]
image_data_df = pd.DataFrame(data_list, columns=columns)

print(image_data_df)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [9]:
from PIL import Image, ImageOps
from numpy import asarray
import os

folder_path = "Galaxy_data/images_training_rev1/"
output_dict = {}

for galaxy_id in galaxy_ids:
    filename = f"{galaxy_id}.jpg"
    filepath = os.path.join(folder_path, filename)

    if os.path.exists(filepath):
        # load the image and convert into numpy array
        img = Image.open(filepath)
        img_gray = ImageOps.grayscale(img)
        numpydata = asarray(img_gray)

        # store the numpy array in the dictionary with the galaxy_id as the key
        output_dict[galaxy_id] = numpydata

# Now output_dict contains numpy arrays for all specified galaxy IDs

In [ ]:
# Create a DataFrame
df = pd.DataFrame.from_dict(output_dict, orient='index')

# Reset the index to make the keys a column
df.reset_index(inplace=True)

# Rename the columns if needed
df.columns = ['Key'] + [f'Value{i}' for i in range(1, 425)]

print(df)

In [22]:
#import csv


# Specify the CSV file path
#csv_file_path = 'galaxy.csv'

# Writing the data to the CSV file
#with open(csv_file_path, 'w', newline='') as csv_file:
#    csv_writer = csv.writer(csv_file)

    # Write the header row with keys as column names
#    header = ['GalaxyID'] + [f'Pixel_{i}' for i in range(len(output_dict[100008].ravel()))]
#    csv_writer.writerow(header)

    # Write data rows
#    for key, value in output_dict.items():
        # Flatten the array to a 1D list for the row
#        row_data = [key] + value.ravel().tolist()
#        csv_writer.writerow(row_data)

#print(f'CSV file has been created at: {csv_file_path}')

KeyboardInterrupt:

In [21]:
output_dict[100008]

(424, 424)

In [24]:
len(output_dict[100008].ravel())

179776

424.0